// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Variables 
$color-1: #000;
$color-2: #252525;
$color-5: #aebc3d;
$color-4: #ffff;
$color-3: #510e06;

// Normalize 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

// General
h2{
    font-variation-settings: 'wght' 900;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    color: $color-1;
}

h3{
    color: $color-5;
    font-variation-settings: 'wght' 600;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    font-size: 1.1rem;
}

p{
    font-size: 0.9rem;
    line-height: 1rem;
    color: $color-2;
}

.p-info{
    margin-bottom: 4rem;
}

// Nav 
.navbar{
    background-color: $color-5;
    z-index: 100;
}

.navbar-nav{
    text-align: center;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    background-image: url(../img/menu.svg);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link{
    color: $color-4;
    font-size: 0.9rem;
}

.nav-link:hover{
    color: $color-4;
}


// Home
.home{
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: $color-5;
}

h1{
    font-variation-settings: 'wght' 900;
    line-height: 1.1em;
    letter-spacing: -0.045em;
    color: $color-4;

    span{
        color: $color-3;
    }
} 

.home-info{
    text-align: center;

    p{
        color: $color-4;
    }
}

.links{
    margin-bottom: 1rem;

    a{
        color: $color-3;
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
    }
}

.cv{
    color: $color-3;
    text-decoration: none;
    border-bottom: 2.5px solid $color-3;
    padding: 0.4rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
}

.cv:hover{
    color: $color-4;
    background-color: $color-3;
    transition: 0.2s ease-out;
    border-radius: 3px;
}

.container-image-main{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

// About
.about{
    text-align: center;
    padding: 100px 0;
}

.container-2{
    margin-top: 4rem;
}

// Projects
.projects{
    text-align: center;
    padding: 100px 0;
    background-color: $color-3;

    h2, p{
        color: $color-4;
    }
}

.projects-cards{
    text-align: left;
}

.card{
    border: none;
    background-color: transparent;

    img{
        border-radius: 5px; 
    }
}

.card-links{
    a{
        @extend .cv;
        margin-right: 1rem;
        color: $color-5;
        border-bottom: 2.5px solid $color-5;
    }

    a:hover{
        color: $color-4;
        background-color: $color-5;
        transition: 0.2s ease-out;
        border-radius: 3px;
    }
}

// Contact 
.contact{
    padding: 100px 0;
    text-align: center;
}

.form-control{
    border: none;
    border-bottom: $color-5 solid 2px;
    border-radius: 0;
}

.form-control::placeholder{
    color: $color-5;
    font-weight: 600;
}

.form-control:focus{
    box-shadow: none;
    border-bottom: $color-5 solid 2px;
}

#button{
    background-color: transparent;
    border: none;
    color: $color-3;
    text-decoration: none;
    border-bottom: 2.5px solid $color-3;
    padding: 0.4rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
}

#button:hover{
    color: $color-4;
    background-color: $color-3;
    transition: 0.2s ease-out;
    border-radius: 3px;
}

// Footer 
.footer{
    background-color: $color-5;
    padding: 50px 0;
    text-align: center;

    .links{
        margin-bottom: 2rem;
    }

    p{
        color: $color-3;
    }
}

// MediaQueries 
@media (min-width: 768px) {
    // Home 
    .home-info{
        text-align: left;
    }

    .container-image-main{
        margin-top: 0;
    }

    .links{
        margin-bottom: 6rem;

        a{
            padding-left: 0;
        }
    }

    // About 
    .container-2{
        width: 60%;
        margin: auto;
    }

    // Contact 
    .contact{
        form{
            width: 60%;
            margin: auto;
        }
    }
}