@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h2, .h3-skills {
  font-variation-settings: 'wght' 900;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  color: #000;
}

h3 {
  color: #aebc3d;
  font-variation-settings: 'wght' 600;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #252525;
}

.p-info {
  margin-bottom: 4rem;
}

.navbar {
  background-color: #aebc3d;
  z-index: 100;
}

.navbar-nav {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand:hover {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transform: rotateZ(11deg);
          transform: rotateZ(11deg);
}

.nav-link {
  color: #ffff;
  font-size: 0.9rem;
  display: inline-block;
  position: relative;
  font-weight: 600;
  margin: 0 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  background-color: #510e06;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #510e06;
}

.home {
  padding-top: 140px;
  padding-bottom: 60px;
  background-color: #aebc3d;
}

h1 {
  font-variation-settings: 'wght' 900;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  color: #ffff;
}

h1 span {
  color: #510e06;
}

.home-info {
  text-align: center;
}

.home-info p {
  color: #ffff;
}

.links {
  margin-bottom: 1rem;
}

.links a {
  color: #510e06;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}

.cv, .card-links a {
  color: #510e06;
  text-decoration: none;
  border-bottom: 2.5px solid #510e06;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.cv:hover, .card-links a:hover {
  color: #ffff;
  background-color: #510e06;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.container-image-main {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30% 50% 20% 40%;
  overflow: hidden;
  -webkit-animation: transform 20s ease-in-out infinite both alternate;
          animation: transform 20s ease-in-out infinite both alternate;
}

@-webkit-keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

.about {
  text-align: center;
  padding: 100px 0;
}

.container-2 {
  margin-top: 4rem;
}

.h3-skills {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.skills i {
  font-size: 2rem;
  color: #510e06;
  margin-top: 1rem;
  padding: 0.5rem;
}

.projects {
  text-align: center;
  padding: 100px 0;
  background-color: #510e06;
}

.projects h2, .projects .h3-skills, .projects p {
  color: #ffff;
}

.projects-cards {
  text-align: left;
}

.card {
  border: none;
  background-color: transparent;
}

.card img {
  border-radius: 5px;
}

.card-links a {
  margin-right: 1rem;
  color: #aebc3d;
  border-bottom: 2.5px solid #aebc3d;
}

.card-links a:hover {
  color: #ffff;
  background-color: #aebc3d;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.contact {
  padding: 100px 0;
  text-align: center;
}

.form-control {
  border: none;
  border-bottom: #aebc3d solid 2px;
  border-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: #aebc3d;
  font-weight: 600;
}

.form-control:-ms-input-placeholder {
  color: #aebc3d;
  font-weight: 600;
}

.form-control::-ms-input-placeholder {
  color: #aebc3d;
  font-weight: 600;
}

.form-control::placeholder {
  color: #aebc3d;
  font-weight: 600;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: #aebc3d solid 2px;
}

#button {
  background-color: transparent;
  border: none;
  color: #510e06;
  text-decoration: none;
  border-bottom: 2.5px solid #510e06;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}

#button:hover {
  color: #ffff;
  background-color: #510e06;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.footer {
  background-color: #aebc3d;
  padding: 50px 0;
  text-align: center;
}

.footer .links {
  margin-bottom: 2rem;
}

.footer p {
  color: #510e06;
}

@media (min-width: 768px) {
  .home-info {
    text-align: left;
  }
  .container-image-main {
    margin-top: 0;
  }
  .links {
    margin-bottom: 6rem;
  }
  .links a {
    padding-left: 0;
  }
  .container-3 {
    width: 75%;
    margin: auto;
  }
  .container-2 {
    width: 60%;
    margin: auto;
  }
  .skills i {
    font-size: 2.5rem;
  }
  .contact form {
    width: 60%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */