@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-variation-settings: 'wght' 900;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  color: #000;
}

h3 {
  color: #F6AE2D;
  font-variation-settings: 'wght' 600;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #252525;
}

.p-info {
  margin-bottom: 4rem;
}

.navbar {
  background-color: #F6AE2D;
  z-index: 100;
}

.navbar-nav {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-link {
  color: #ffff;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #ffff;
}

.home {
  padding-top: 140px;
  padding-bottom: 60px;
  background-color: #F6AE2D;
}

h1 {
  font-variation-settings: 'wght' 900;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  color: #ffff;
}

h1 span {
  color: #0E402D;
}

.home-info {
  text-align: center;
}

.home-info p {
  color: #ffff;
}

.links {
  margin-bottom: 1rem;
}

.links a {
  color: #0E402D;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}

.cv, .card-links a {
  color: #0E402D;
  text-decoration: none;
  border-bottom: 2.5px solid #0E402D;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.cv:hover, .card-links a:hover {
  color: #ffff;
  background-color: #0E402D;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.container-image-main {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.about {
  text-align: center;
  padding: 100px 0;
}

.container-2 {
  margin-top: 4rem;
}

.projects {
  text-align: center;
  padding: 100px 0;
  background-color: #0E402D;
}

.projects h2, .projects p {
  color: #ffff;
}

.projects-cards {
  text-align: left;
}

.card {
  border: none;
  background-color: transparent;
}

.card img {
  border-radius: 5px;
}

.card-links a {
  margin-right: 1rem;
  color: #ffff;
  border-bottom: 2.5px solid #F6AE2D;
}

.card-links a:hover {
  color: #0E402D;
  background-color: #F6AE2D;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.contact {
  padding: 100px 0;
  text-align: center;
}

.form-control {
  border: none;
  border-bottom: #F6AE2D solid 2px;
  border-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: #F6AE2D;
  font-weight: 600;
}

.form-control:-ms-input-placeholder {
  color: #F6AE2D;
  font-weight: 600;
}

.form-control::-ms-input-placeholder {
  color: #F6AE2D;
  font-weight: 600;
}

.form-control::placeholder {
  color: #F6AE2D;
  font-weight: 600;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: #F6AE2D solid 2px;
}

#button {
  background-color: transparent;
  border: none;
  color: #0E402D;
  text-decoration: none;
  border-bottom: 2.5px solid #0E402D;
  padding: 0.4rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}

#button:hover {
  color: #ffff;
  background-color: #0E402D;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.footer {
  background-color: #F6AE2D;
  padding: 50px 0;
  text-align: center;
}

.footer .links {
  margin-bottom: 2rem;
}

.footer p {
  color: #0E402D;
}

@media (min-width: 768px) {
  .home-info {
    text-align: left;
  }
  .container-image-main {
    margin-top: 0;
  }
  .links {
    margin-bottom: 6rem;
  }
  .links a {
    padding-left: 0;
  }
  .container-2 {
    width: 60%;
    margin: auto;
  }
  .contact form {
    width: 60%;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */